vti_encoding
:SR
|utf8-nl


vti_timelastmodified
:TR
|28
 
Oct
 
2012
14
:
57
:
25
 
-0000
vti_extenderversion
:SR
|12
.0
.0
.0


vti_author
:SR
|SUN-GOD\\SAMSUNG


vti_modifiedby
:SR
|SUN-GOD\\SAMSUNG


vti_timecreated
:TR
|28
 
Oct
 
2012
14
:
57
:
25
 
-0000
vti_cacheddtm
:TX
|28
 
Oct
 
2012
14
:
57
:
25
 
-0000
vti_filesize
:IR
|1555


vti_cachedlinkinfo
:VX
|S|img/loading
.gif
 
S
|img/mF_kiki/tit-ar
.gif
 
S
|img/mF_kiki/ar-left
.gif
 
S
|img/mF_kiki/ar-right
.gif


vti_cachedsvcrellinks
:VX
|FSUS|js/mf-pattern/img/loading
.gif
 
FSUS
|js/mf-pattern/img/mF_kiki/tit-ar
.gif
 
FSUS
|js/mf-pattern/img/mF_kiki/ar-left
.gif
 
FSUS
|js/mf-pattern/img/mF_kiki/ar-right
.gif


vti_backlinkinfo
:VX
|